<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
    <div>List of posts</div>
    {{#posts}}
        <div>
        <b>{{id}}</b>
        <span>{{description}}</span>
        </div>
    {{/posts}}
</body>
</html>